services:
  mariadb:
    image: my-mariadb
    build: ./requirements/mariadb
    env_file: .env
    volumes:
      - DB:/database
    networks:
      - inception-network
    restart: always
  wordpress:
    image: my-wordpress
    build: ./requirements/wordpress
    env_file: .env
    volumes:
      - wordpress_files:/www
    networks:
      - inception-network
    depends_on:
      - mariadb
    restart: always
  nginx:
    image: my-nginx
    build: ./requirements/nginx
    env_file: .env
    volumes:
      - wordpress_files:/www
    networks:
      - inception-network
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - wordpress
      - phpmyadmin
    restart: always
  phpmyadmin:
    image: my-phpmyadmin
    build: ./requirements/phpmyadmin
    env_file: .env
    networks:
      - inception-network
    depends_on:
      - mariadb
    restart: always
volumes:
  DB:
  wordpress_files:
networks:
  inception-network:
    name: inception-network
